/* CSS reset */

a {
	cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Use flexbox for styles below header */
.main-content {
    display: flex;
    flex-direction: row;
}

body {
	line-height: 1;
}

div .aside-wrapper {
    display: flex;
    flex-direction: column;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Styles for screen sizes 767px and less*/
@media only screen and (max-width: 767px) {
	body .wrapper, body .header-content {
		width: 100%;
	}

    body .header-content {
        display:flex;
        flex-direction: column;
    }

    body .main-content {
        display: flex;
        flex-direction: column;
    }
/*Centers logo and tagline*/
	.header {
		text-align: center;
	}
/*Set width to 100% and override unnecessary padding */
	body .header-left {
		padding: 0;
		width: 100%;
	}
/* Center text, set width to 100% and set display to block remove padding*/
	body .header-right {
		text-align: center;
		width: 100%;
		display: block;
		padding: 0;
	}
/*Remove padding from links and set display to inline-block to align horizontally*/
	body .header-right li {
		display: inline-block;
		padding: 0;
	}
/*Change the way to display pipe character to reflect QA example*/
	body .header-right li:before {
		content:"|";
	}

	body .header-right li:first-child:before {
		content: "";
	}
/*Remove previous pipe, remove unneeded padding and margin*/
	body .header-right li:first-child{
		border-right: none;
		padding: 0;
		margin-right: 0;
	}
/*Set margin between links to be 15px exactly*/
	body .header-right li a:last-child {
		margin-left: 15px;
	}
/*Remove unneeded padding from right link "Logout"*/
	body .header-right li:last-child {
		padding: 0;
	}
/*Set width of divs to take up 100% width*/
	body .body {
		width: 100%;
	}

	body .aside {
		width: 100%;
	}
/*Ensure divs in aside line up vertically*/
	body .user-feat {
		clear: left;
	}
/*Change to display block so menu btns align vertically*/
	body .menu-btns > li {
		display: block;
		margin: 20px 20px 20px 20px;
	}

    body .menu-btns {
        margin: 50px 0 0 0;
    }
/*Change position so box is at bottom */
	body .advise-box {
		position: relative;
		width: 100%;
		display: inline-block;
		border-radius: 0;
		padding: 0;
		border: 0;
	}

	body .advise-box-alt {
		position: relative;
		width: 100%;
		display: inline-block;
		border-radius: 0;
		padding: 0;
		border: 0;
	}
/*Ensure all text has 15px of margin*/
	h1, h2, h3, h4, h5, h6, p, li {
		margin: 15px;
	}
/* Profile styles on mobile */
	body .profile-user-status {
		flex-direction: column-reverse;
	}
/* All users styles on mobile */
	body .table-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	body .bio {
		width: 90%;
		display: flex;
		margin: 5px 5px 15px 5px;
		flex-direction: column;
		align-items: center;
	}

	body #bio-head {
		text-align: center;
	}

	body .user-img-table {
		margin-top: 15px;
	}
}
/*Styles for screen sizes below 992px and above 768px*/
@media (max-width: 992px) and (min-width: 768px) {

	body .wrapper, body .header-content {
		width: 768px;
	}

    body .header-content {
        flex-direction: column;
    }
/*Sets the width of the users table */
	table {
   		width:100%;
	}
/*Centers logo and tagline*/
	.header {
		text-align: center;
	}
/*Set width to 100% and override unnecessary padding */
	body .header-left {
        display: flex;
        flex-flow: column;
		padding: 0;
		width: 100%;
	}

    body .header-left img {
        align-self: center;
    }
/* Center text, set width to 100% and set display to block remove padding*/
	body .header-right {
		text-align: center;
		width: 100%;
		display: block;
		padding: 0;
	}
/*Remove padding from links and set display to inline-block to align horizontally*/
	body .header-right li {
		display: inline-block;
		padding: 0;
	}
/*Change the way to display pipe character to reflect QA example*/
	body .header-right li:before {
		content:"|";
	}

	body .header-right li:first-child:before {
		content: "";
	}
/*Remove previous pipe, remove unneeded padding and margin*/
	body .header-right li:first-child{
		border-right: none;
		padding: 0;
		margin-right: 0;
	}
/*Set margin between links to be 15px exactly*/
	body .header-right li a:last-child {
		margin-left: 15px;
	}
/*Remove unneeded padding from right link "Logout"*/
	body .header-right li:last-child {
		padding: 0;
	}
/*Set width of divs to take up 100% width*/
	body .body {
		width: 100%;
	}

    body .main-content {
        display: flex;
        flex-direction: column;
    }
/*Ensure each box takes up 1/3 screen size. Remove unneeded margin-top.*/
	body .aside {
		width: 33%;
		margin-top: 0;
	}

    body .aside-wrapper {
        display: flex;
        flex-direction: row;
    }
/*Ensure user names in aside align under photo*/
body .user-feat h2 {
		clear: left;
	}
/*Change to display block so menu btns align vertically*/
	body .menu-btns > li {
		display: inline-block;
	}

    body .menu-btns {
        margin: 35px 0 0 0;
    }
/*Change position so box is at bottom takes up 33% of screen, remove extra padding and borders. Change display to inline-block
so it lines up under aside perfectly. Set height to match siblings.*/
	body .advise-box {
		position: relative;
		width: 33%;
		height: 70px;
		display: inline-block;
		padding: 0;
		border: 0;
	}
/*Ensure all text has 15px of margin*/
	h1, h2, h3, h4, h5, h6, p, li {
		margin: 15px;
	}
/* All users page mobile styles */
	body .bio, #bio-head {
		width: 50% !important;
	}
}
/* Wrapper for page content */
.wrapper {
	width: 992px;
	margin: 0 auto;
}

.header {
 	background: #55ACEE;
 	background: linear-gradient(to right, #55ACEE, #35cd95 85%);
	padding-bottom: 15px;
}

.header-left {
	width: 70%;
	padding: 10px 0 0 50px;
}
/* Creates semantic pipe character without using float */
.header-right {
	text-align: right;
	font-size: 1.2em;
	padding: 50px 50px 0 0;
	display: flex;
    height: 20px;
}

.header-right li:first-child {
	padding-right: 10px;
	border-right: 1px solid #333333;
}

.header-right li:last-child {
	padding-left: 10px;
}

.header-content {
	display: flex;
	width: 992px;

}

.body {
		width: 650px;
    display: flex;
    flex-direction: column;
}

.aside {
	width:342px;
  	margin-top: 15px;
  	background-color:#55ACEE
}

h1, h2, h3, p {
	color: #333333;
}

h1 {
	font-size: 1.3em;
	font-weight: bold;
}

h2 {
	padding-top: 10px;
	font-weight: bold;
}

p {
	line-height: 1.6em;
}

th {
    background-color: #5AABFF;
    color: white;
    height: 20px;
}

td {
	vertical-align:middle;
}

th, td {
    padding: 20px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #7CFC00}

table {
    border: 3px solid black;
}

.user-status {
	padding: 10px;
}

#ask-post-status {
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 5px 15px 5px;
	background-color:#41C670;
}

#ask-post-status a {
 	color: #ffffff;
}

#show-more-status {
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 5px 15px 5px;
	background-color: #FF0000;
}

#show-more-status a {
	color: #ffffff;
}

.about-box h1 {
	margin-top: 20px;
}

.user-imgs {
	float: left;
	border: 2px solid black;
	width: 150px;
  	height: 150px;
  	margin: 8px;
   	background-color:#FFFFFF;
}

.abt-img {
	float: left;
	border: 2px solid black;
	width: 350px;
  	height: 350px;
  	margin: 20px;
  	padding: 1px;
}

.user-img-table{
	border: 1px solid black;
    background-color:#FFFFFF;
}

.user-feat {
  	margin: 10px;
}

.advise-box {
	padding: 3px;
	background-color:#000000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	margin: 0 3px 3px 0;
	right: 0;
	width: 250px;
	border: 3px solid #800000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.advise-box-alt {
	padding: 3px;
	background-color:#000000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	margin: 0 3px 3px 0;
	right: 0;
	width: 250px;
	border: 3px solid #800000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* Target a tags within menu-btn class */
.menu-btns a {
	text-align:center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #FFF;
  	background: #0CADA7; /* For browsers that do not support gradients */
	padding: 5px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
    border-width: 2px;
}

a:visited {
	background: #0A948F;
}

.menu-btns {
	text-align: center;
	margin: 10px 10px 10px 10px;
}

.menu-btns > li {
	display: inline;
}

.aside h1 {
	margin-top: 5px;
	text-align: center;
}

.menu-btns-alt a {
	text-align:center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #FFF;
  	background: #0CADA7; /* For browsers that do not support gradients */
  	
	padding: 5px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
    border-width: 2px;
}



.menu-btns-alt {
	text-align: center;
	margin: 10px 10px 10px 10px;
}

.menu-btns-alt > li {
	display: inline;
}
/* Remove default underline and change color of links */
.header-right a {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: all 1.0s ease-out;
	-ms-transition: all 1.0s ease-out;
	-moz-transition: all 1.0s ease-out;
	-o-transition: all 1.0s ease-out;
	transition: all 1.0s ease-out;
}

a:hover {
	background-color: #000000;
	opacity:0.75;
	text-decoration: underline;
	-webkit-transition: all 1.0s ease-in-out;
	-ms-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-o-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}
/* Profile page styles */
.profile {
	width:100%;
	display: flex;
	flex-direction: column;
}
/* Moves image to top of flexbox column */
.profile-img {
	width: 350px;
	height: 350px;
	order: 1;
	align-self: center;
}

.profile-content {
	width: 100%;
	display: inline-block;
}

.status-updates {
	line-height: 1.5em;
}

.profile-status {
	width: 335px;
	text-align: center;
}
/* Flexbox styles for Profile */
.profile-user-status {
	display: flex;
	flex-direction: row;
	align-items: center;
}
/* About pages styles */
.about-container {
	display: flex;
	flex-direction: column;
}
/* Table styles  */
.table-column {
	display: flex;
	flex-direction: column;
}

.table-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bio, #bio-head {
	width: 65%;
}

.table-row:nth-child(odd) {
    background-color: #CCCCCC;
}

.table-row * {
    line-height: 20px;
}

#reply_post {
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 5px 15px 5px;
	background-color:#41C670;
}

.hidden {
	display: none;
}

.footer {
	width:100%;
	height: 4em;
	display: flex;
	justify-content: space-around;
	background-image: url('dark-background.jpg');
}
.footer a {
	color: #FFFFFF
}
