/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Wrapper for page content */
.wrapper {
	width: 992px;
	margin: 0 auto;
}

.header {
 	background: #55ACEE;
 	background: linear-gradient(to right, #55ACEE, #35cd95 85%);
	padding-bottom: 15px;
}

.header-left {
	float: left;
	padding: 10px 0 0 50px;
}

.header-right {
	text-align: right;
	font-size: 1.2em;
	padding: 50px 50px 0 0 ;
}


.header-content {
	display: inline-block;
	width: 992px;

}

.body {
	width:650px;
  float:left;

}
.aside {
	width:342px;
  float:right;
  margin-top: 15px;
  background-color:#55ACEE
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
}

h2 {
	padding-top: 10px;
	font-weight: bold;
}
p {
	line-height: 1.6em;
}
.user-status {
	padding: 10px;
	float: left;
}

.user-imgs {
	float: left;
	border: 2px solid black;
	width: 150px;
    height: 150px;
    margin: 8px;
}

.user-feat {
    margin: 5px;
}

.advise-box {
	padding: 3px;
	 background-color:#000000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	border: 3px solid #800000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* Target a tags within menu-btn class */
.menu-btns a {
	text-align:center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #FFF;
	background: #0CADA7;
	padding: 5px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu-btns a:hover {
	background: #0A948F;
}

.menu-btns {
	text-align: center;
}

.menu-btns > li {
	display: inline;
}

.aside h1 {
	text-align: center;
}

