/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Wrapper for page content */
.wrapper {
	width: 992px;
	margin: 0 auto;
}

.header {
 	background: #55ACEE;
 	background: linear-gradient(to right, #55ACEE, #35cd95 85%);
	padding-bottom: 15px;
}

.header-left {
	float: left;
	width: 70%;
	padding: 10px 0 0 50px;
}

/* Creates semantic pipe character without using float */
.header-right {
	text-align: right;
	font-size: 1.2em;
	padding: 50px 50px 0 0;
	display: inline-flex;
}

.header-right li:first-child {
	padding-right: 10px;
	border-right: 1px solid #333333;
}

.header-right li:last-child {
	padding-left: 10px;
}

.header-content {
	display: inline-block;
	width: 992px;

}

.body {
	width:650px;
  	float:left;

}

.aside {
	width:342px;
  	float:right;
  	margin-top: 15px;
  	background-color:#55ACEE
}

h1, h2, h3, p {
	color: #333333;
}

h1 {
	font-size: 1.3em;
	font-weight: bold;
}

h2 {
	padding-top: 10px;
	font-weight: bold;
}
p {
	line-height: 1.6em;
}
th {
    background-color: #5AABFF;
    color: white;
        height: 20px;


}
td {
	float:center;
	vertical-align:middle;
}


th, td {
    padding: 20px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #7CFC00}
table {
    border: 3px solid black;
   	width:100%;

}

.user-status {
	padding: 10px;
	float: left;
}

.user-imgs {
	float: left;
	border: 2px solid black;
	width: 150px;
  	height: 150px;
  	margin: 8px;
    background-color:#FFFFFF;

}

.user-img-table{
	border: 1px solid black;
	width: 95%;
    background-color:#FFFFFF;

}

.user-feat {
  	margin: 10px;
}

.advise-box {
	padding: 3px;
	background-color:#000000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	margin: 0 3px 3px 0;
	right: 0;
	width: 190px;
	border: 3px solid #800000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* Target a tags within menu-btn class */
.menu-btns a {
	text-align:center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #FFF;
  	background: #0CADA7; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#55ACEE, #35cd95); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#55ACEE, #35cd95); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#55ACEE, #35cd95); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#55ACEE, #35cd95); /* Standard syntax */
	padding: 5px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.menu-btns a:hover {
	background: #0CADA7; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#35cd95, #55ACEE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#35cd95, #55ACEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#35cd95, #55ACEE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#35cd95, #55ACEE); /* Standard syntax */
}

a:visited {
	background: #0A948F;
}

.menu-btns {
	text-align: center;
}

.menu-btns > li {
	display: inline;
}

.aside h1 {
	margin-top: 5px;
	text-align: center;
}

/* Remove default underline and change color of links */

a {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: all 2.0s ease-out;
	-ms-transition: all 2.0s ease-out;
	-moz-transition: all 2.0s ease-out;
	-o-transition: all 2.0s ease-out;
	transition: all 2.0s ease-out;
}

a:hover {
	color: #55ACEE;
	background-color: #ffffff;
	text-decoration: underline;
	-webkit-transition: all 2.0s ease-in-out;
	-ms-transition: all 2.0s ease-in-out;
	-moz-transition: all 2.0s ease-in-out;
	-o-transition: all 2.0s ease-in-out;
	transition: all 2.0s ease-in-out;
}

/* Profile page styles */

.profile {
	width:100%;
}

.profile-img {
	width: 350px;
	height: 350px;
}

.profile-content {
	width: 620px;	
	display: inline-block;
	float: right;
}

.status-updates {
	line-height: 1.5em;
}

.profile-status {
	width: 335px;
	text-align: center;
}